<!-- CommingController as coming  -->
<div id="comming-soon-full-page" class="full-width">
  <div id="comming-soon-text-container">
    <div class="comming-soon-text bold orange">This Page</div>
    <div class="comming-soon-text bold orange">Comming Soon!</div>
  </div>
</div> <!-- comming-soon-full-page