<!-- ImpactController as impact -->
<div id="pink-box" class="full-width">
  <div id="impact-intro" class="full-width">
    <img id="kids-eating" class="right" src="/images/impact/kids_eating.jpg">
    <div id="impact-intro-text-box">
      <p class="impact-intro-text medium orange">ARK 5¢ Lunch is</p>
      <div class="indent">
        <p class="impact-intro-text medium orange">Keeping kids in school</p>
        <p class="impact-intro-text medium orange">Bringing communities together</p>
        <p class="impact-intro-text medium orange">Raising income in rural areas</p>
      </div>
      <p class="proven-impact medium grey">See our proven impact</p>
      <p class="proven-impact medium grey" style="font-size: 20px;">Results are in 2014-15:</p>
    </div> <!-- impact-intro-text-box -->
  </div><!--  impact-intro -->
</div> <!-- pink-box -->
<div class="spacer"></div>
<div id="attendence-trends">
  <p class="attendence-trends-text medium">Attendance remains high at 92% *</p>
  <p class="attendence-trends-text medium">1,470 kids fed this year</p>
  <img class="full-width" src="/images/impact/attendence_books.png">
</div> <!-- attendence-trends -->
<div id="stats-so-far">
  <div id="stats-text-box" class="left">
    <p id="as-of-2015" class="grey large">as of 2015:</p>
    <img class="full-width" src="/images/impact/history_text.png">
  </div>
  <!-- <img class="full-width" src="/images/impact/lunch_cheers.jpg"> -->
</div> <!-- attendence-trends -->
<div class="small-spacer"></div>
<div id="parent-contributions">
  <p class="same-line orange large">Our communities make this possible</p>
  <p class="same-line orange small"> with gifts from home and school gardens and volunteer work in the kitchen</p>
  <img class="full-width" src="/images/impact/parent_contributions.png">
</div>
<div class="small-spacer"></div>
<div id="keeping-costs-down" class="full-width">
  <div class="give-it-height">
    <p class="same-line orange large 5-cent">Keeping our costs down to only</p>
    <p class="same-line orange large 5-cent bold">5¢/meal</p>
  </div>
  <img class="full-width" id="food-nickel" src="/images/impact/5_cent_lunch.png">
</div>
<div id="budget-section" class="full-width">
  <p class="budget-text medium orange">In 2014-15, 67% of lunches cost even less!</p>
  <p class="budget-text medium orange">All but one school kept under budget.</p>
  <img class="full-width cap-height" src="/images/impact/budget-graph.png">
</div>
<div id="everyone-pays-in">
  <div id="pay-in-text" class="left orange large">
    <p style="display">Everyone pays in</p>
    <p class="small">In 2014-15 communities are paying for 40% of program costs, and are on track to fund 100% in less than three years</p>
    <img class="full-width" src="/images/impact/nickel_lunch.png">
  </div>
  <img class="half-photo right" src="/images/impact/ayesha_and_the_ladies.JPG">
</div>
<div id="veggie-income">
  <p class="veggie-text orange large">More parents can afford the program because of new income</p>
  <p class="veggie-text orange small">Of the food purchased in 2014, 80% was from parents</p>
  <img class="full-width" src="/images/impact/veggies.png">
  <div id="buying-local-text-box" class="farther-indent">
    <p class="veggie-text orange medium">Buying local</p>
    <div class="farther-indent">
      <p class="veggie-text same-line orange small">keeps costs</p><p class="veggie-text orange bold same-line small"> down</p>
      <p class="veggie-text grey small">and</p>
      <p class="veggie-text same-line orange small">income</p><p class="veggie-text orange bold same-line small"> up</p>
    </div>
  </div>
</div>
